body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: aliceblue;
  background-image: url("./assets/images/flights.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  overflow-y: auto;
}
